@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


/* Enable touch scrolling */
.touch-pan-x {
  touch-action: pan-x; /* Allow horizontal swipe */
}